* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: rgb(238, 234, 228);
}

.converter {
    /* border: 2px solid black; */
    width: 60vw;
    height: 70vh;
    margin: 100px auto;

}

h1 {

    text-align: center;
    margin: auto;
    padding: 15px;
    font-size: 3rem;
}

.container {
    display: flex;
    justify-content: space-around;

}

h2 {
    margin: 16px 0px;
    font-size: 2rem;
}

.unit {
    width: 100%;
    height: 30px;
    font-size: 1.2rem;
    padding-left: 5px;
}

.mid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    background-color: rgb(75, 8, 243);
    height: 45px;
    color: white;
    border-radius: 6px;
    font-size: 1.2rem;
}

.swap {
    width: 75px;
    margin-left: 5px;
}

.convert {
    width: 85px;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.input {
    font-size: 1.5rem;
    height: 250px;
    font-weight: 500;
    color: rgb(125, 55, 8);
    background-color: rgb(224, 243, 241);
}
#text {
    
}